<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta 
        name="description" 
        content="MechSpeak.io is an English learning service specifically for Mechanical Engineers"
    <link rel="icon" href="../static/images/mechspeakfavicon.png"/>
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Login/Sign Up</title>
  </head>
  <nav>
    <img 
        src="../static/images/mechspeaklogo.svg"
        height="60"/>
  </nav>
  <body>

  </body>
  <footer>
    
  </footer>