    
      <div id="signup_login">
        <form action="./my_account" method="get">
          <h2>Sign Up</h2>
          <p>
            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" required />
          </p>
          <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required />
          </p>
          <p>
            <label for="name">Username:</label>
            <input type="text" name="username" id="username" required />
          </p>
          <p>
            <label for="name">Password:</label>
            <input type="password" name="password id="password" required />
          </p>
          <p>
            <button>Submit</button>
          </p>
        </form>
      </div>
